.faq {
    padding: 95px 0 100px;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.heading {
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 49px;
}

@media only screen and (min-width: 1140px) {
    /* For desktop: */
    .faq {
        padding: 130px 0;
    }

    .heading {
        font-size: 40px;
        line-height: 58px;
        margin: 0 0 70px;
        text-align: center;
    }
}