@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  /* font-family: Interstate-bold, Bau-Regular; */

  --primary-button-color: #ff734f;
  --secondary-button-color: #000;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
