.header {
    backdrop-filter: blur(20px);
    background: hsla(0,0%,100%,.3);
    color: #000;
    min-width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.top {
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;
}

.desktopLogo {
    display: none;
}

.nav {
    display: none;
}

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .header {
        height: 100px;
    }

    .top {
        height: 100px;
        margin: auto 0;
    }

    .desktopLogo {
        display: block;
    }

    .mobileLogo {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        color: black;
    }

    .nav li {
        margin: 0 40px 0 0;
        position: relative;
    }

    .nav li a {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .navAction {
        align-items: center;
        color: var(--primary-text-color);
        display: flex;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        outline: 2px solid var(--primary-text-color);
        padding: 20px 15px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
    }

    .navAction:hover {
        color: var(--secondary-button-color);
        outline-color: var(--secondary-button-color);
    }
}