.testimonials {
    background: #231f20;
    padding: 45px 0 100px;
    position: relative;
}

.testimony {
    min-width: 280px;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    scroll-snap-align: center;
}

.text {
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage {
    margin-right: 24px;
}

.profileInfo h5 {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 12px;
    text-transform: uppercase;
}

.profileInfo h6 {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
}

@media only screen and (min-width: 1140px) {
    /* For desktop: */
    .testimony {
        max-width: 900px;
    }

    .text {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 47px;
    }

    .profileInfo h5 {
        font-size: 24px;
        line-height: 29px;
    }
}