.testimonials {
    background: #231f20;
    padding: 45px 0 100px;
    position: relative;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.testimoniesWrapper {
    min-width: 280px;
    max-width: 300px;
    overflow-x: scroll;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
}

.testimonies {
    display: flex;
    gap: 100px;
    width: calc(100% * 3);
}

.testimony {
    min-width: 280px;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    scroll-snap-align: center;
}

.text {
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage {
    margin-right: 24px;
}

.profileInfo h5 {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 12px;
    text-transform: uppercase;
}

.profileInfo h6 {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
}

.testimonyButton {
    background: #c8c8c833;
    padding: 5px 10px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    color: white;
    position: absolute;
    cursor: pointer;
}

.testimonyButton:disabled {
    background: #c8c8c812;
    color: rgb(144, 144, 144);
}

.testimonyBtnLeft {
    top: 20%;
    left: 20px;
}

.testimonyBtnRight {
    top: 20%;
    right: 20px;
}

.button {
    margin: 60px auto 0;
    text-align: center;
}

.button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-button-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 20px 22px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
}

.button a:hover {
    background: var(--secondary-button-color);
}

.button img {
    margin-left: 20px;
}

@media only screen and (min-width: 1140px) {
    /* For desktop: */
    .testimoniesWrapper {
        max-width: 900px;
    }

    .testimony {
        max-width: 900px;
    }

    .text {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 47px;
    }

    .profileInfo h5 {
        font-size: 24px;
        line-height: 29px;
    }
}

/* remove scroll bar from testimonies */

/* Hide scrollbar for Chrome, Safari and Opera */
.testimoniesWrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.testimoniesWrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-overflow-scrolling: touch;
} 